:root { 
--gray_600:#757575; 
--blue_gray_200:#b5bbc5; 
--blue_gray_100_4c:#cccccc4c; 
--blue_800:#1061d6; 
--teal_900:#00204e; 
--blue_gray_900:#323232; 
--blue_800_33:#1061d633; 
--white_A700:#ffffff; 
--blue_gray_100_19:#d3d3d319; 
--gray_100:#f5f5f5; 
--blue_800_0c:#1061d60c; 
}